@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
    font-family: 'logo-font';
    src: url("assets/Redhawk.otf") format("opentype");
}
@font-face {
    font-family: 'heading-font';
    src: url("assets/finlikless.ttf") format("truetype");
}

:root {
    --logo-font: 'logo-font', sans-serif;
    --body-font: 'Montserrat', sans-serif;
    --heading-font: 'heading-font', sans-serif;
    --bg-color: #e6dbd5;
    --text-color: #4a4e69;
    --grad-sect-color: rgba(255, 244, 248, 0.5);
    --box-shad: rgba(0, 0, 0, 0.1);
    --img-shad: #4a4e69;
    --link-color: #5e565d;
    --nav-color: #000;
    --media-navul: rgba(255, 255, 255, 0.8);
}
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #9a8c98;
    border-radius: 5px;
    border: 2px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
    background: #4a4e69;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    font-weight: 600;
    scroll-behavior: smooth;
    cursor: none;
}
.dark-mode {
    --bg-color: #2c2a29;
    --text-color: #eef6ff;
    --grad-sect-color: rgba(0, 0, 0, 0.3);
    --box-shad: rgba(255, 255, 255, 0.1);
    --img-shad: #929ad1;
    --link-color: #e6d5e4;
    --nav-color: #ccc;
    --media-navul: rgba(0, 0, 0, 0.8);
}
.dark-mode .cover {
    filter: none;
}
.dark-mode h1 {
    color: #0a223c;
    text-shadow: 0 0 20px white;
}

html {
    scroll-padding-top: 125px;
    overflow: auto;
}
.cover::-webkit-scrollbar {
    display: none;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: background 0.3s, color 0.3s;
}
img {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: auto;
}

/* COVER PAGE */
.cover {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url('assets/landing.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    filter: invert(1) hue-rotate(180deg);
    transition: filter 0.3s ease;
}
.cover-content h1 {
    font-family: var(--heading-font);
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to top, #85f7ff, #f0feff);
    background-clip: text;
    font-size: 56px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.cover-content p {
    font-size: 24px;
    margin-bottom: 30px;
    color: #f2e9e4;
}
.cta-button {
    background: #4a4e69;
    color: #ccc;
    padding: 12px 24px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.5s ease, box-shadow 0.5s ease;
}
.cta-button:hover {
    background: #282a3a;
    box-shadow: 0px 0px 15px #4a4e69cc;
}
a.cta-button:hover {
    color: #fff;
}

/* CURSOR CSS */
.cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: rgb(130, 130, 130);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    border: 1px solid #4a4e69;
    box-shadow: 0 0 5px black;
    transition: border-radius 0.5s ease-in-out;
}
.cursor__follower {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transition: transform 0.4s ease-out;
    z-index: 9998;
}

/* NAVBAR */
footer {
    background: rgba(34, 34, 59, 0.845);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
header {
    background: transparent;
    backdrop-filter: blur(50px);
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 12px 12px;
    transition: background 0.5s ease;
}
.scrolled {
    background: rgba(34, 34, 59, 0.85);
}
.logo, .social-icons a, .hamburger, nav ul li a {
    color: var(--nav-color);
    transition: color 0.3s ease;
}
.scrolled .logo, 
.scrolled .social-icons a, 
.scrolled .hamburger, 
.scrolled nav ul li a {
    color: #ccc !important;
}
.logo {
    font-size: 24px;
    padding-left: -5%;
    font-family: var(--logo-font);
    font-weight: bold;
    min-width: 180px;
    white-space: nowrap;
    overflow: hidden;
}
.curhead {
    display: inline-block;
    width: 8px;
    animation: blink 0.9s infinite;
}
@keyframes blink {
    50% { opacity: 0; }
}
.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: 10px;
}
.hamburger:hover {
    color: #fff;
    text-shadow: 0px 0px 8px currentColor;
}
nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav ul {
    display: flex;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    margin-inline-start: -10px;
    background: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #fff;
}

/* SOCIAL ICONS */
.social-icons {
    display: flex;
    gap: 15px;
    margin-left: auto;
}
.social-icons a {
    font-size: 22px;
    text-decoration: none;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #fff;
}

/* GENERAL SECTIONS */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
section {
    position: relative;
    padding: 10vh 5%;
    max-width: 90%;
    margin: 10vh auto 5vh;
    border-radius: 12px;
    box-shadow: 0 4px 15px var(--box-shad);
    overflow: hidden;
}
section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.6;
    filter: blur(3px);
}
section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 5%, var(--grad-sect-color) 100%);
    z-index: -1;
}
section .content {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px var(--box-shad);
}

/* ABOUT ME SECTION */
.about-section {
    margin-top: 15vh;
    display: flex;
    height: auto;
    align-items: center;
    gap: 50px;
    position: relative;
    overflow: hidden;
    padding: 50px;
    border-radius: 12px;
}
.about-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/profile.jpg');
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.6;
}
.about-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 5%, var(--grad-sect-color) 100%);
    z-index: -1;
}
.about-text {
    flex: 1;
    z-index: 1;
    height: 90%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px var(--box-shad);
}
.profile-pic {
    scale: 1.1;
    overflow: hidden;
    width: 210px;
    height: 210px;
    border-radius: 50% 25%;
    margin-bottom: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px var(--img-shad);
    transform: scale(1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    z-index: 1;
}
.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50% 25%;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}
.profile-pic:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #4a4e69;
}

/* FORMATTING IN BODY */
h1 {
    font-family: var(--heading-font);
    font-size: 30px;
    color: #2b2d42;
    border-bottom: 2px solid #4a4e69;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
p {
    margin-left: 10px;
}
ul {
    list-style: none;
}
ul li {
    background: rgba(255, 179, 195, 0.1);
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
}

/* GENERAL LINKS */
a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    pointer-events: auto;
    user-select: none;
    -webkit-user-drag: none;
}
a:hover {
    color: #4a4e69;
    text-shadow: 0px 0px 8px currentColor;
}

/* SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 15px;
}
.switch__input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    transform: rotate(0deg);
    transition: background-color 0.3s ease, transform 0.5s ease;
    border-radius: 34px;
}
.switch__inner:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #333;
    transition: transform 0.3s ease;
    border-radius: 50%;
}
.switch__input:checked ~ .switch__inner {
    background-color: var(--bg-color);
    transform: rotate(360deg);
}
.switch__input:checked ~ .switch__inner:before {
    transform: translateX(26px);
    background-color: #ccc;
}
.switch__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
    transition: transform 0.5s ease;
}
.switch__icon:first-of-type {
    left: 5px;
    color: #ccc;
}
.switch__icon:nth-of-type(2) {
    right: 5px;
    color: #333;
}
.switch__sr {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* SMALL DISPLAYS */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .cover-content h1 {
        font-size: 36px;
    }

    .cover-content p {
        font-size: 18px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 5%;
        background: var(--media-navul);
        border-radius: 10px;
        padding: 10px;
        width: 200px;
        text-align: center;
    }
    .scrolled nav ul {
        background: rgba(0, 0, 0, 0.8);
    }

    nav ul.active {
        display: flex;
    }

    .social-icons {
        margin-left: 0;
    }

    .profile-pic {
        width: 200px;
        height: 200px;
        margin-bottom: 0;
    }

    .about-section {
        flex-direction: column;
    }
}